@font-face {
  font-family: 'CuprumFFU';
  src: url('../fonts/Cuprum-Bold.ttf');
  src: url('../fonts/Cuprum-Bold.ttf') format('truetype'),
  url('../fonts/Cuprum-BoldItalic.ttf') format('truetype'),
  url('../fonts/Cuprum-Italic.ttf') format('truetype'),
  url('../fonts/Cuprum-Regular.ttf') format('truetype');
}

$primary-font: 'CuprumFFU', sans-serif;

@mixin gradientBg ($first, $second) {
  background: $second;
  background: -webkit-linear-gradient(to right, $first, $second);
  background: linear-gradient(to right, $first, $second);
}

body.inspireMeBg-1 {
  @include gradientBg(#9733EE, #DA22FF);
}
body.inspireMeBg-2 {
  @include gradientBg(#00cdac, #02aab0);
}
body.inspireMeBg-3 {
  @include gradientBg(#26a0da, #314755);
}
body.inspireMeBg-4 {
  @include gradientBg(#753a88, #cc2b5e);
}
body.inspireMeBg-5 {
  @include gradientBg(#f9d423, #e65c00);
}
body.inspireMeBg-6 {
  @include gradientBg(#6dd5ed, #2193b0);
}
body.inspireMeBg-7 {
  @include gradientBg(#fc6767, #ec008c);
}

.quote-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.quote-panel {
  text-align: center;
  color: #fff;
  padding: 60px;
  h1 {
    padding-bottom: 30px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 400;
    line-height: 30px;
  }
}
#main-quote {
  h3 {
    font-family: $primary-font;
    line-height: 38px;
    padding-bottom: 25px;
    font-size: 25px;
    &::before {
      content: open-quote;
      padding-right: 6px;
    }
    &::after {
      content: close-quote;
      padding-left: 6px;
    }
  }
}
#author {
  font-size: 15px;
  font-style: italic;
}
.moreBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  a {
    color: #fff;
    &:hover {
      text-decoration: none;
      -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%, #fff 80%);
      -webkit-mask-size: 200%;
      animation: shine 2s infinite;
    }
  }
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}