<?xml version="1.0" encoding="UTF-8" ?>

<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        xmlns:android = "http://schemas.android.com/apk/res/android"
        id="com.inspre_me_192018"
        versionCode="1"
        version="0.0.1">

    <name>InspireMe</name>

    <description>Customisez your Home Screen with daily inspirational quotes !</description>

    <author href="https://github.com/iamRahul1973" email="rahulkr1973@gmail.com">
        iamRahul95
    </author>

    <!--
        If you do not want any permissions to be added to your app, add the
        following tag to your config.xml; you will still have the INTERNET
        permission on your app, which PhoneGap requires.
    -->

    <preference name="permissions" value="none" />

    <access origin="*" />

</widget>