<?xml version="1.0" encoding="UTF-8" ?>

<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        id="1920181218_inspire_me"
        versionCode="1"
        version="1.0.0">

    <name>InspireMe</name>

    <description>Customisez your homescreen with daily inspirational quotes !</description>

    <author href="https://github.com/iamRahul1973" email="rahulkr1973@gmail.com">
        iamRahul95
    </author>

    <plugin name="cordova-plugin-whitelist" />
    <access origin="*" />

</widget>
